<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @customer.name %>
</p>

<p>
	<strong>Discount:</strong>
	<%= @customer.discount %>
</p>

<p>
	<strong>Orders:</strong>
</p>
<ul>
	<% @orders.each do |order| %>
	<li>
		Order id: <%= order.id %>, <br>
		Placed on: <%= order.placed_on %>, <br>
		Status: <%= order.status %>, <br>
		Price: <%= order.price %>
	</li>
	<% end %>
	<li>
		Total price: <%= @total_price %>
	</li>
</ul>

<%= link_to 'New Order', new_order_path(customer: @customer) %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>