<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @customer.name %>
</p>

<p>
	<strong>Discount:</strong>
	<%= @customer.discount %>
</p>

<p>
  <strong>Order:</strong><br/>
  <% @allOrders.each do |t| %>
  <%= t %><br/>
  <% end %>	
  <strong><%= @allTotal %></strong>
</p>

<%= link_to 'New Order', new_order_path(customer: @customer) %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
